@using Blog.Models
@model BlogPost

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('../../Images/Landing.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1 class="text-center">@Model.Title</h1>
                    <h2 class="subheading text-center">@Model.Abstract</h2>
                    <span class="meta text-center">
                        Posted by
                        @Html.ActionLink("Brandon Beck", "About", "Home")
                        on @Model.Created.ToString("MMM dd,yyyy")
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto text-center">
                @Html.Raw(Model.BlogPostBody)
                @{ if (Model.ImageLocation != null)
                    {

                        <img class="img-responsive overflow-hidden" src="@Model.ImageLocation" alt="">
                    }
                }
            </div>
        </div>
    </div>
</article>

<hr style="border:2px solid black;" />

@if (User.Identity.IsAuthenticated)
{
    <div id="addComment">
        @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("BlogPostId", Model.Id)
            <div class="row">
                <div class="offset-3 col-md-6">
                    @Html.TextArea("CommentBody", new { rows = 5, cols = 50, placeholder = "Add Comment" })
                </div>
            </div>
            <div class="row">
                <div class="offset-3 col-md-6">
                    <button type="submit" class="btn btn-dark"> Add Comment</button>
                </div>
            </div>
        }
    </div>
}

<hr style="border:2px solid black;" />


@foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
{
    <div class="container mt-3">
        <h2>Author: @comment.Author.Email</h2>
        <div class="media-body">
            <img src="~/Images/mask-anonymous.jpg" class="align-self-start mr-3" style="width:100px" />
            <div class="media-body">
                <h4> Written:@comment.Created.ToString("MMM dd,yyyy") </h4>
                @comment.CommentBody
            </div>
        </div>
    </div>
}

<div>
    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index", "Home")
        </p>
    }

</div>

